// font
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('Source-Code-Pro.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url('Source-Code-Pro-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// css variables
$bp-color-core-blue-60:                       var(--bp-color-core-blue-60, #0c77ba) !default;
$bp-color-core-blue-70:                       var(--bp-color-core-blue-70, #0a649d) !default;
$bp-color-core-neutral-13:                    var(--bp-color-core-neutral-13 , #f2f2f2) !default;
$bp-color-core-neutral-17:                    var(--bp-color-core-neutral-17 , #ededed) !default;
$bp-color-core-neutral-20:                    var(--bp-color-core-neutral-20 , #dedede) !default;
$bp-color-core-neutral-60:                    var(--bp-color-core-neutral-60 , #7a7a7a) !default;
$bp-color-core-neutral-90:                    var(--bp-color-core-neutral-90 , #2e2e2e) !default;
$bp-color-core-muted-yellow-90:               var(--bp-color-core-muted-yellow-90 , #fdbc2c) !default;
$bp-color-background-light-layer0-base:	      var(--bp-color-background-light-layer0-base , #f8f8f8) !default;
$bp-color-border-lightest:                    var(--bp-color-border-lightest , #dedede) !default;

$bp-color-brand-orange-base:                  var(--bp-color-brand-orange-base, #c55422) !default;
$bp-color-brand-yellow-darker:                var(--bp-color-brand-yellow-darker, #e0ac00) !default;
$bp-color-brand-green-base:                   var(--bp-color-brand-green-base, #2c6937) !default;
$bp-color-brand-green-darker:                 var(--bp-color-brand-green-darker, #074512) !default;
$bp-color-core-red-50:                        var(--bp-color-core-red-50, #bd2b2b) !default;
$bp-color-core-red-40:                        var(--bp-color-core-red-40, #cc3535) !default;

// sasss variables

$bp-color-core-blue-60:                     #0c77ba !default;
$bp-color-core-blue-70:                     #0a649d !default;
$bp-color-core-neutral-13:                  #f2f2f2 !default;
$bp-color-core-neutral-17:                  #ededed !default;
$bp-color-core-neutral-20:                  #dedede !default;
$bp-color-core-neutral-60:                  #7a7a7a !default;
$bp-color-core-neutral-60:                  #7a7a7a !default;
$bp-color-core-neutral-90:                  #2e2e2e !default;
$bp-color-core-muted-yellow-90:             #fdbc2c !default;
$bp-color-background-light-layer0-base:	    #f8f8f8 !default;
$bp-color-border-lightest:                  #dedede !default;

$bp-color-brand-orange-base:                #c55422 !default;
$bp-color-brand-yellow-darker:              #e0ac00 !default;
$bp-color-brand-green-base:                 #2c6937 !default;
$bp-color-brand-green-darker:               #074512 !default;
$bp-color-core-red-50:                      #bd2b2b !default;
$bp-color-core-red-40:                      #cc3535 !default;

// tabs

.hydratedWidth {
  width: 100%;
}
.c-tabs-container {
  position: absolute;
  display: flex;
  width: 100%;
}
.c-tabs {
  flex: auto;
  position: relative;
  left:0;
  right:0;
  top: 0;
  width: 100%;
}
.c-tabs[role='tablist'] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  overflow: hidden;
  line-height: normal;
  background: $bp-color-border-lightest;
  &::before {
    display: block;
    content: "";
  }
}

.c-tabs__headings {
  display: inline-flex;
  font-family: sans-serif;
  text-align: center;
}
.c-tabs__nav {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  margin: -10px -20px 0 -20px;
  overflow: hidden;
  background: $bp-color-background-light-layer0-base;
  .c-tabs__headings {
    padding-bottom: 1em;
    margin-bottom: -1em;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .c-tabs__headings:first-child {
    margin-left: 10px;
  }
}
.c-tab-heading[role='tab'] {
  display: block;
  flex: 1;
  width: auto;
  margin: 0;
  overflow: hidden;
  font: inherit;
  line-height: normal;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  white-space: nowrap;
  vertical-align: inherit;
  background: $bp-color-background-light-layer0-base;
  border: 0;
  border-bottom: .25em solid transparent;
  border-radius: 0;
  outline: 0;
  appearance: none;
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:not(:disabled) {
    &:not([disabled]) {
      &:active {
        background-color: transparent;
      }
      &:not(:active) {
        &:focus {
          background: $bp-color-core-neutral-17;
          border-top-color: $bp-color-core-neutral-17;
          border-right-color: $bp-color-core-neutral-17;
          border-bottom-color: $bp-color-core-blue-60;
          border-left-color: $bp-color-core-neutral-17;
          box-shadow: inset 0 0 0 2px $bp-color-core-blue-70;
        }
        &:hover {
          cursor: pointer;
          background-color: $bp-color-border-lightest;
        }
      }
    }
    &:not(.c-tab-heading--active) {
      &:hover {
        background-color: $bp-color-border-lightest;
        border-bottom-color: $bp-color-core-neutral-60;
      }
    }
  }
}
.c-tab-heading[role='tab'][disabled] {
  cursor: not-allowed;
  opacity: .5;
}
.c-tab-heading[role='tab'].c-tab-heading--active {
  border-bottom-color: $bp-color-core-neutral-60;
}
.c-tab-heading[role='tab'].c-tab-heading--brand {
  display: block;
  flex: 1;
  width: auto;
  padding: 1em;
  margin: 0;
  overflow: hidden;
  font: inherit;
  line-height: normal;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  white-space: nowrap;
  vertical-align: inherit;
  background: inherit;
  border: 0;
  border-bottom: .25em solid transparent;
  border-radius: 0;
  outline: 0;
  appearance: none;
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:not(:disabled) {
    &:not([disabled]) {
      &:active {
        background-color: transparent;
      }
      &:not(:active) {
        &:focus {
          border-top-color: $bp-color-core-neutral-17;
          border-right-color: $bp-color-core-neutral-17;
          border-bottom-color: $bp-color-core-blue-60;
          border-left-color: $bp-color-core-neutral-17;

          box-shadow: inset 0 0 0 2px $bp-color-core-neutral-17;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    &:not(.c-tab-heading--active) {
      &:hover {
        border-bottom-color: $bp-color-core-neutral-90;
      }
    }
  }
}
.c-tab-heading[role='tab'].c-tab-heading--brand[disabled] {
  cursor: not-allowed;
  opacity: .5;
}
.c-tab-heading[role='tab'].c-tab-heading--brand.c-tab-heading--active {
  border-bottom-color: #2c3e50;
}
.c-tab-heading[role='tab'].c-tab-heading--info {
  display: block;
  flex: 1;
  width: auto;
  padding: 1em;
  margin: 0;
  overflow: hidden;
  font: inherit;
  line-height: normal;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  white-space: nowrap;
  vertical-align: inherit;
  background: inherit;
  border: 0;
  border-bottom: .25em solid transparent;
  border-radius: 0;
  outline: 0;
  appearance: none;
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:not(:disabled) {
    &:not([disabled]) {
      &:active {
        background-color: transparent;
      }
      &:not(:active) {
        &:focus {
          border-top-color: $bp-color-core-neutral-17;
          border-right-color: $bp-color-core-neutral-17;
          border-bottom-color: $bp-color-core-blue-60;
          border-left-color: $bp-color-core-neutral-17;

          box-shadow: inset 0 0 0 2px $bp-color-core-blue-70;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    &:not(.c-tab-heading--active) {
      &:hover {
        border-bottom-color: $bp-color-core-blue-70;
      }
    }
  }
}
.c-tab-heading[role='tab'].c-tab-heading--info[disabled] {
  cursor: not-allowed;
  opacity: .5;
}
.c-tab-heading[role='tab'].c-tab-heading--info.c-tab-heading--active {
  border-bottom-color: $bp-color-core-blue-60;
}
.c-tab-heading[role='tab'].c-tab-heading--warning {
  display: block;
  flex: 1;
  width: auto;
  padding: 1em;
  margin: 0;
  overflow: hidden;
  font: inherit;
  line-height: normal;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  white-space: nowrap;
  vertical-align: inherit;
  background: inherit;
  border: 0;
  border-bottom: .25em solid transparent;
  border-radius: 0;
  outline: 0;
  appearance: none;
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:not(:disabled) {
    &:not([disabled]) {
      &:active {
        background-color: transparent;
      }
      &:not(:active) {
        &:focus {
          background: $bp-color-border-lightest;
          border-top-color: $bp-color-core-neutral-17;
          border-right-color: $bp-color-core-neutral-17;
          border-bottom-color: $bp-color-core-blue-60;
          border-left-color: $bp-color-core-neutral-17;

          box-shadow: inset 0 0 0 2px $bp-color-core-blue-70;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    &:not(.c-tab-heading--active) {
      &:hover {
        background: $bp-color-border-lightest;
        border-bottom-color: $bp-color-brand-yellow-darker;
      }
    }
  }
}
.c-tab-heading[role='tab'].c-tab-heading--warning[disabled] {
  cursor: not-allowed;
  opacity: .5;
}
.c-tab-heading[role='tab'].c-tab-heading--warning.c-tab-heading--active {
  border-bottom-color: $bp-color-brand-yellow-darker;
}
.c-tab-heading[role='tab'].c-tab-heading--success {
  display: block;
  flex: 1;
  width: auto;
  padding: 1em;
  margin: 0;
  overflow: hidden;
  font: inherit;
  line-height: normal;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  white-space: nowrap;
  vertical-align: inherit;
  background: inherit;
  border: 0;
  border-bottom: .25em solid transparent;
  border-radius: 0;
  outline: 0;
  appearance: none;
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:not(:disabled) {
    &:not([disabled]) {
      &:active {
        background-color: transparent;
      }
      &:not(:active) {
        &:focus {
          border-top-color: $bp-color-core-neutral-17;
          border-right-color: $bp-color-core-neutral-17;
          border-bottom-color: $bp-color-core-blue-60;
          border-left-color: $bp-color-core-neutral-17;

          box-shadow: inset 0 0 0 2px $bp-color-core-blue-70;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    &:not(.c-tab-heading--active) {
      &:hover {
        border-bottom-color: $bp-color-brand-green-base;
      }
    }
  }
}
.c-tab-heading[role='tab'].c-tab-heading--success[disabled] {
  cursor: not-allowed;
  opacity: .5;
}
.c-tab-heading[role='tab'].c-tab-heading--success.c-tab-heading--active {
  border-bottom-color: $bp-color-brand-green-darker;
}
.c-tab-heading[role='tab'].c-tab-heading--error {
  display: block;
  flex: 1;
  width: auto;
  padding: 1em;
  margin: 0;
  overflow: hidden;
  font: inherit;
  line-height: normal;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  white-space: nowrap;
  vertical-align: inherit;
  background: inherit;
  border: 0;
  border-bottom: .25em solid transparent;
  border-radius: 0;
  outline: 0;
  appearance: none;
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:not(:disabled) {
    &:not([disabled]) {
      &:active {
        background-color: transparent;
      }
      &:not(:active) {
        &:focus {
          border-top-color: $bp-color-core-neutral-17;
          border-right-color: $bp-color-core-neutral-17;
          border-bottom-color: $bp-color-core-blue-60;
          border-left-color: $bp-color-core-neutral-17;

          box-shadow: inset 0 0 0 2px $bp-color-core-blue-70;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
    &:not(.c-tab-heading--active) {
      &:hover {
        border-bottom-color: $bp-color-core-red-50;
      }
    }
  }
}
.c-tab-heading[role='tab'].c-tab-heading--error[disabled] {
  cursor: not-allowed;
  opacity: .5;
}
.c-tab-heading[role='tab'].c-tab-heading--error.c-tab-heading--active {
  border-bottom-color: $bp-color-core-red-40;
}
.c-tabs__tab[role='tabpanel'] {
  width: 100%;
  // padding: 1em;
}
.c-button-container {
  text-align: center;
}
.c-button--showMore {
  color: #999;
  display: inline-block;
  padding: 6px 6px 0 6px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-bottom: 4px solid #ededed;
  &:hover {
    cursor: pointer;
    background: #f8f8f8;
  }
  &:focus {
    outline-color: $bp-color-core-blue-60;

  }
  .showMoreLines {
    display: block;
    height: 8px;
    margin: -4px auto 0 auto;
    .a-ucon {
      width: 16px;
      fill: #ededed;
      stroke: 1 solid #ededed;
    }
  }
}


// highlighter

::slotted([slot="code"]) {
  display: none;
}

.fk-highlight-code-container,
pre.fk-highlight-code-container {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  max-width: 100%;
  max-width: 100%;
  padding: 0;

  overflow-x:auto;
  font-family: var(--fk-highlight-code-font-family, 'Source Code Pro', sans-serif, monospace);
  font-size: var(--fk-highlight-code-font-size, 1.01rem);
  color: var(--fk-highlight-code-color, #eaeae9);
  text-align: var(--fk-highlight-code-text-align, start);
  tab-size: 2;
  background: var(--fk-highlight-code-background, #282c34);
  border: 15px solid #22262d;
  border-radius: var(--fk-highlight-code-border-radius, 0);
  transition: all .2s ease-in-out;
  transform: scale(var(--fk-highlight-code-zoom, 1));
  transform-origin: bottom left;
  direction: var(--fk-highlight-code-direction, ltr);


  code.theCodeTag {
    max-width: 100%;
    font-family: var(--fk-highlight-code-font-family);
    font-size: var(--fk-highlight-code-font-size);
    line-height: var(--fk-highlight-code-line-height, 1.45rem);
    color: #edede7;
    tab-size: 2;
    div:empty {
      min-height: 1rem;
    }

    span.fk-highlight-code-anchor-hidden {
      visibility: hidden;
    }

    span.fk-highlight-code-line {
      padding: var(--fk-highlight-code-line-padding);
      background: var(--fk-highlight-code-line-background);
      border-top: var(--fk-highlight-code-line-border-top);
      border-bottom: var(--fk-highlight-code-line-border-bottom);
    }

    /* Prism style override */

    /**
     * heathscript-dark theme for `prism.js`
     * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
     * @author Heath Shults
     */
    .language-css .token.string:not(.fk-highlight-code-line),
    .style .token.string:not(.fk-highlight-code-line),
    .token.entity:not(.fk-highlight-code-line),
    .token.operator:not(.fk-highlight-code-line),
    .token.url:not(.fk-highlight-code-line) {
      background: inherit;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: var(--fk-highlight-code-token-comment, #6f705e);
    }

    .token.punctuation {
      color: var(--fk-highlight-code-token-punctuation, #edede7);
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: var(--fk-highlight-code-token-property, #e25e88);
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
      color: var(--fk-highlight-code-token-selector, #f3ac9f);
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
      color: var(--fk-highlight-code-token-operator, #a2a2ff);
    }

    .token.keyword {
      color: vaf(--fk-highlight-code-token-keyword, #7a7afe);
    }

    .token.atrule,
    .token.attr-value {
      color: var(--fk-highlight-code-token-atrule,  #f0e9ab);
    }

    .token.function,
    .token.class-name {
      color: var(--fk-highlight-code-token-function, #eb3c42);
    }

    .token.regex,
    .token.important,
    .token.variable {
      color: var(--fk-highlight-code-token-regex, #e90);
    }
  }
}