body,
html {
  /* height: calc(100vh - 60px);
  overflow: hidden; */
  margin: 0;
}

@media (max-width: 700px) {
  .l-hg-l {
    flex-direction: column;
    min-width: 0;
   
  }

  .nav.sidenav,
  .aside {
    width: 100%;
  }
}

.st0 {
  enable-background: new;
}

.st1 {
  fill: #FFFFFF;
}

.st2 {
  fill: #06314D;
}

ul.navbar-nav li.nav-item {
  display: inline;
  float: left;
}

.fk-toggle-button__wrapper {
  width: 16px;
  height: 16px;
  margin: auto;
  position: relative;
  right: 1px;
}

.fk-searchform {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  height: 38px;
  margin-top: 15px;
  margin-left: 10px;
  padding: 2px;
}

.fk-searchform .fk-search-input[type="search"],
.fk-searchform .fk-search-btn[type="button"] {
  border: 1px solid transparent;
  background: transparent;
}

.fk-searchform .fk-search-input[type="search"] {
  position: relative;
  flex: 1 auto;
  z-index: 100;
  width: 100%;
  height: 34px;
  outline: 0;
}

.fk-searchform .fk-search-input[type="search"]:focus {
  outline: 0;
}

.fk-searchform .fk-search-btn[type="button"] {
  flex: 1 auto;
  position: relative;
  top: -3px;
  left: -15px;
  z-index: 101;
  width: 24px;
  height: 24px;
  background: transparent;
}

.fk-searchform .fk-search-btn[type="button"]:focus {
  outline: 0;
}

.fk-searchform .fk-search-btn[type="button"] svg {
  fill: #ddd;
}

.l-col-left.expand {
  width: 260px;
}

.fk-masthead {
  position: relative;
  padding: 3rem 15px;
}

.fk-masthead h1 {
  line-height: 1;
}

.fk-masthead .fk-btn,
.fk-masthead .fk-btn {
  width: 100%;
  padding: .8rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .fk-masthead h1 {
    font-size: 4rem;
  }
}

.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}

.masthead-followup .bd-clipboard {
  display: none;
}

.masthead-followup .highlight {
  padding: .5rem 0;
  background-color: #818a91;
}

.bd-content {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.bd-content>h2[id],
.bd-content>h3[id],
.bd-content>h4[id] {
  pointer-events: none;
}

.bd-content>h2[id]>div,
.bd-content>h2[id]>a,
.bd-content>h3[id]>div,
.bd-content>h3[id]>a,
.bd-content>h4[id]>div,
.bd-content>h4[id]>a {
  pointer-events: auto;
}

.bd-content>h2[id]::before,
.bd-content>h3[id]::before,
.bd-content>h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
  content: "";
}

.bd-content>table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  .bd-content>table {
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .bd-content>table.fk-table-bordered {
    border: 0;
  }
}

.bd-content>table>thead>tr>th,
.bd-content>table>thead>tr>td,
.bd-content>table>tbody>tr>th,
.bd-content>table>tbody>tr>td,
.bd-content>table>tfoot>tr>th,
.bd-content>table>tfoot>tr>td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #edebe9;
}

.bd-content>table>thead>tr>th>p:last-child,
.bd-content>table>thead>tr>td>p:last-child,
.bd-content>table>tbody>tr>th>p:last-child,
.bd-content>table>tbody>tr>td>p:last-child,
.bd-content>table>tfoot>tr>th>p:last-child,
.bd-content>table>tfoot>tr>td>p:last-child {
  margin-bottom: 0;
}


.bd-content>h2:not(:first-child) {
  margin-top: 3rem;
}

.bd-content>h3 {
  margin-top: 1.5rem;
}

.bd-content>ul li,
.bd-content>ol li {
  margin-bottom: .25rem;
}

@media (min-width: 992px) {

  .bd-content>ul,
  .bd-content>ol {
    max-width: 80%;
  }
}

.bd-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
}

@media (min-width: 576px) {
  .bd-title {
    font-size: 3rem;
  }
}

.bd-lead {
  font-size: 1.125rem;
  font-weight: 300;
}

@media (min-width: 576px) {
  .bd-lead {
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.fk-text-purple {
  color: #085280;
}

.fk-text-purple-bright {
  color: #0781cd;
}

#skippy {
  display: block;
  padding: 1em;
  color: #fff;
  background-color: #085280;
  outline: 0;
}

#skippy .skiplink-text {
  padding: .5em;
  outline: 1px dotted;
}

.fk-toc {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .fk-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}
.fk-toc-section {
  padding-top: 0;
  margin-bottom: 30px;
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
}

.section-nav ul {
  padding-left: 1rem;
}

.section-nav ul ul {
  display: none;
}

.toc-entry {
  display: block;
}

.toc-entry a {
  display: block;
  padding: .125rem 1.5rem;
  color: #99979c;
}

.toc-entry a:hover {
  color: #085280;
  text-decoration: none;
}

.sidebar {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background: #cbc8c3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  width: 200px;
}

@media (min-width: 768px) {
  .sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
      z-index: 1000;
      width: 200px;
      height: calc(100vh - 4rem);
    }
  }
}

@media (min-width: 1200px) {
  .sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
  }
}

.fk-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .fk-links {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  .fk-links {
    display: block !important;
  }
}

.search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.search .fk-form-control:focus {
  border-color: #0781cd;
  -webkit-box-shadow: 0 0 0 3px rgba(7, 129, 205, 0.25);
  box-shadow: 0 0 0 3px rgba(7, 129, 205, 0.25);
}

.search-docs-toggle {
  line-height: 1;
  color: #121212;
}

.sidenav {
  display: none;
}

.fk-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  border: 1px solid transparent;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

.fk-toc-link:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.fk-toc-item.active {
  margin-bottom: 1rem;
}

.fk-toc-item.active:not(:first-child) {
  margin-top: 1rem;
}

.fk-toc-item.active>.fk-toc-link {
  color: rgba(0, 0, 0, 0.85);
}

.fk-toc-item.active>.fk-toc-link:hover {
  background-color: transparent;
}

.fk-toc-item.active>.sidenav {
  display: block;
}

.sidebar .fk-nav>li>a {
  display: block;
  padding: .25rem 1.5rem;
  font-size: 90%;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  border-radius: .5rem;
}

.sidebar .fk-nav>li>a:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .fk-nav>.active>a,
.sidebar .fk-nav>.active:hover>a {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  background-color: transparent;
}

.fk-footer {
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}

.fk-footer a {
  font-weight: 500;
  color: #605b57;
}

.fk-footer a:hover,
.fk-footer a:focus {
  color: #085280;
}

.fk-footer p {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .fk-footer {
    text-align: left;
  }
}

.fk-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
  color: #fff;
}
  .fk-footer-links li {
    display: inline-block; }
    .fk-footer-links li + li {
      margin-left: 1rem; }
      
      /* .fk-navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        min-height: 4rem;
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.75);
        /* background-color: #085280; */
        /* padding: 0.5rem 1rem;
        -webkit-box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.1); } */
                
        
         */
          
.fk_logo {
  width: 188px !important;
  height: 30px !important;
  vertical-align: middle;
  margin-top: -4px;
}

.fk-navbar-brand {
  /* width: 188px !important; */
  height: 30px !important;
  vertical-align: middle;
  padding: 0;
  margin-top: -4px;
}

.fk-swatch-blue {
  color: #fff;
  background-color: #085280;
}

.fk-swatch-indigo {
  color: #fff;
  background-color: #04253d;
}

.fk-swatch-purple {
  color: #fff;
  background-color: #04253d;
}

.fk-swatch-pink {
  color: #121212;
  background-color: #f8aac5;
}

.fk-swatch-red {
  color: #fff;
  background-color: #d53636;
}

.fk-swatch-orange {
  color: #121212;
  background-color: #fec224;
}

.fk-swatch-yellow {
  color: #121212;
  background-color: #f8e320;
}

.fk-swatch-green {
  color: #121212;
  background-color: #74c34a;
}

.fk-swatch-teal {
  color: #fff;
  background-color: #0c7b91;
}

.fk-swatch-cyan {
  color: #121212;
  background-color: #5dc7d0;
}

.fk-swatch-white {
  color: #121212;
  background-color: #fff;
}

.fk-swatch-gray {
  color: #fff;
  background-color: #96918c;
}

.fk-swatch-gray-dark {
  color: #fff;
  background-color: #30302f;
}

.fk-swatch-primary {
  color: #fff;
  background-color: #085280;
}

.fk-swatch-secondary {
  color: #fff;
  background-color: #96918c;
}

.fk-swatch-success {
  color: #121212;
  background-color: #74c34a;
}

.fk-swatch-info {
  color: #121212;
  background-color: #5dc7d0;
}

.fk-swatch-warning {
  color: #121212;
  background-color: #f8e320;
}

.fk-swatch-danger {
  color: #fff;
  background-color: #d53636;
}

.fk-swatch-light {
  color: #121212;
  background-color: #f8f8f7;
}

.fk-swatch-dark {
  color: #fff;
  background-color: #30302f;
}

.fk-swatch-100 {
  color: #121212;
  background-color: #f8f8f7;
}

.fk-swatch-200 {
  color: #121212;
  background-color: #f1f1ef;
}

.fk-swatch-300 {
  color: #121212;
  background-color: #edebe9;
}

.fk-swatch-400 {
  color: #121212;
  background-color: #dedcd9;
}

.fk-swatch-500 {
  color: #121212;
  background-color: #cbc8c3;
}

.fk-swatch-600 {
  color: #fff;
  background-color: #96918c;
}

.fk-swatch-700 {
  color: #fff;
  background-color: #605b57;
}

.fk-swatch-800 {
  color: #fff;
  background-color: #30302f;
}

.fk-swatch-900 {
  color: #fff;
  background-color: #121212;
}

.bd-clipboard {
  position: relative;
  display: block;
  float: right;
}

.bd-clipboard+.highlight {
  margin-top: 0;
}

.fk-btn-clipboard {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: #fff;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid #b6c6d1;
  border-bottom: 1px solid #b6c6d1;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: .25rem;
  border-top-right-radius: 0rem;
  -webkit-box-shadow: -2px 4px 10px -4px rgba(0, 0, 0, 0.38);
  box-shadow: -2px 4px 10px -4px rgba(0, 0, 0, 0.38);
}

.fk-btn-clipboard:hover {
  color: #fff;
  background-color: #027de7;
}

@media (min-width: 768px) {
  .clipboard {
    display: block;
  }
}

.fk-custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.fk-custom-control-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
}

.fk-custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.fk-custom-control-input:checked~.fk-custom-control-label::before {
  color: #fff;
  background-color: #085280;
}

.fk-custom-control-input:focus~.fk-custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(8, 82, 128, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(8, 82, 128, 0.25);
}

.fk-custom-control-input:active~.fk-custom-control-label::before {
  color: #fff;
  background-color: #47b1f4;
}

.fk-custom-control-input:disabled~.fk-custom-control-label {
  color: #96918c;
}

.fk-custom-control-input:disabled~.fk-custom-control-label::before {
  background-color: #f1f1ef;
}

.fk-custom-control-label {
  position: relative;
  margin-bottom: 0;
}

.fk-custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  user-select: none;
  background-color: #edebe9;
}

.fk-custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.fk-custom-checkbox .fk-custom-control-label::before {
  border-radius: 0.25rem;
}

.fk-custom-checkbox .fk-custom-control-input:checked~.fk-custom-control-label::before {
  background-color: #085280;
}

.fk-custom-checkbox .fk-custom-control-input:checked~.fk-custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.fk-custom-checkbox .fk-custom-control-input:indeterminate~.fk-custom-control-label::before {
  background-color: #085280;
}

.fk-custom-checkbox .fk-custom-control-input:indeterminate~.fk-custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.fk-custom-checkbox .fk-custom-control-input:disabled:checked~.fk-custom-control-label::before {
  background-color: rgba(8, 82, 128, 0.5);
}

.fk-custom-checkbox .fk-custom-control-input:disabled:indeterminate~.fk-custom-control-label::before {
  background-color: rgba(8, 82, 128, 0.5);
}

.fk-custom-radio .fk-custom-control-label::before {
  border-radius: 50%;
}

.fk-custom-radio .fk-custom-control-input:checked~.fk-custom-control-label::before {
  background-color: #085280;
}

.fk-custom-radio .fk-custom-control-input:checked~.fk-custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.fk-custom-radio .fk-custom-control-input:disabled:checked~.fk-custom-control-label::before {
  background-color: rgba(8, 82, 128, 0.5);
}

.fk-custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #605b57;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%2330302f' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #dedcd9;
  border-radius: 0.25rem;
  appearance: none;
}

.fk-custom-select:focus {
  border-color: #179df1;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(23, 157, 241, 0.5);
}

.fk-custom-select:focus::-ms-value {
  color: #605b57;
  background-color: #fff;
}

.fk-custom-select[multiple],
.fk-custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.fk-custom-select:disabled {
  color: #96918c;
  background-color: #f1f1ef;
}

.fk-custom-select::-ms-expand {
  opacity: 0;
}

.fk-custom-select-sm {
  height: calc(1.8125rem + 2px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 75%;
}

.fk-custom-select-lg {
  height: calc(2.875rem + 2px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 125%;
}

.fk-custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0;
}

.fk-custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

.fk-custom-file-input:focus~.fk-custom-file-label {
  border-color: #179df1;
  box-shadow: 0 0 0 0.2rem rgba(8, 82, 128, 0.25);
}

.fk-custom-file-input:focus~.fk-custom-file-label::after {
  border-color: #179df1;
}

.fk-custom-file-input:lang(en)~.fk-custom-file-label::after {
  content: "Browse";
}

.fk-custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #605b57;
  background-color: #fff;
  border: 1px solid #dedcd9;
  border-radius: 0.25rem;
}

.fk-custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 10px;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #605b57;
  content: "Browse";
  background-color: #f1f1ef;
  border-left: 1px solid #dedcd9;
  border-radius: 0 0.25rem 0.25rem 0;
}

.fk-custom-range {
  width: 100%;
  padding-left: 0;
  background-color: transparent;
  appearance: none;
}

.fk-custom-range:focus {
  outline: none;
}

.fk-custom-range::-moz-focus-outer {
  border: 0;
}

.fk-custom-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: #085280;
  border: 0;
  border-radius: 1rem;
  appearance: none;
}

.fk-custom-range::-webkit-slider-thumb:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(8, 82, 128, 0.25);
}

.fk-custom-range::-webkit-slider-thumb:active {
  background-color: #47b1f4;
}

.fk-custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #edebe9;
  border-color: transparent;
  border-radius: 1rem;
}

.fk-custom-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #085280;
  border: 0;
  border-radius: 1rem;
  appearance: none;
}

.fk-custom-range::-moz-range-thumb:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(8, 82, 128, 0.25);
}

.fk-custom-range::-moz-range-thumb:active {
  background-color: #47b1f4;
}

.fk-custom-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #edebe9;
  border-color: transparent;
  border-radius: 1rem;
}

.fk-custom-range::-ms-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #085280;
  border: 0;
  border-radius: 1rem;
  appearance: none;
}

.fk-custom-range::-ms-thumb:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(8, 82, 128, 0.25);
}

.fk-custom-range::-ms-thumb:active {
  background-color: #47b1f4;
}

.fk-custom-range::-ms-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 0.5rem;
}

.fk-custom-range::-ms-fill-lower {
  background-color: #edebe9;
  border-radius: 1rem;
}

.fk-custom-range::-ms-fill-upper {
  margin-right: 15px;
  background-color: #edebe9;
  border-radius: 1rem;
}

.fk-line-numbers-wrapper {
  position: relative;
  padding-left: 0;
}

.anchorjs-link {
  font-weight: 400;
  color: rgba(8, 82, 128, 0.5);
  transition: color .16s linear;
}

.anchorjs-link:hover {
  color: #085280;
  text-decoration: none;
}

:root {
  --bg-color: radial-gradient(circle at center, #fff, rgb(201, 201, 201));
  --dot-color1: rgba(255, 255, 255, .9);
  --dot-color2: rgba(0, 92, 230, .9);
}

.fk-the-dna-wrapper {
  /* opacity: .35; */
  opacity: .5;
  margin: auto;
}

.fk-dna-container {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.fk-dna {
  width: 860px;
  height: 140px;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.fk-ele {
  width: 1px;
  height: 140px;
  float: left;
  margin: 0 20px;
  border-left: 1px #B0B0B0 dashed;
  position: relative;
  -webkit-transform: rotateX(-360deg);
  transform: rotateX(-360deg);
  -webkit-animation: run 4.5s linear infinite;
  animation: run 4.5s linear infinite;
}

.fk-ele::before,
.fk-ele::after {
  content: '';
  width: 20px;
  height: 20px;
  background: var(--dot-color1);
  border-radius: 50%;
  border: 3px solid var(--dot-color2) !important;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fk-ele::before {
  top: -2px;
  background: var(--dot-color2);
  border: 3px solid var(--dot-color1) !important;
}

.fk-ele::after {
  bottom: -2px;
}

.fk-ele:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

.fk-ele:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.fk-ele:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}

.fk-ele:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.fk-ele:nth-of-type(5) {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.fk-ele:nth-of-type(6) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.fk-ele:nth-of-type(7) {
  -webkit-animation-delay: -1.05s;
  animation-delay: -1.05s;
}

.fk-ele:nth-of-type(8) {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.fk-ele:nth-of-type(9) {
  -webkit-animation-delay: -1.35s;
  animation-delay: -1.35s;
}

.fk-ele:nth-of-type(10) {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

.fk-ele:nth-of-type(11) {
  -webkit-animation-delay: -1.65s;
  animation-delay: -1.65s;
}

.fk-ele:nth-of-type(12) {
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
}

.fk-ele:nth-of-type(13) {
  -webkit-animation-delay: -1.95s;
  animation-delay: -1.95s;
}

.fk-ele:nth-of-type(14) {
  -webkit-animation-delay: -2.1s;
  animation-delay: -2.1s;
}

.fk-ele:nth-of-type(15) {
  -webkit-animation-delay: -2.25s;
  animation-delay: -2.25s;
}

.fk-ele:nth-of-type(16) {
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.fk-ele:nth-of-type(17) {
  -webkit-animation-delay: -2.55s;
  animation-delay: -2.55s;
}

.fk-ele:nth-of-type(18) {
  -webkit-animation-delay: -2.7s;
  animation-delay: -2.7s;
}

.fk-ele:nth-of-type(19) {
  -webkit-animation-delay: -2.85s;
  animation-delay: -2.85s;
}

.fk-ele:nth-of-type(20) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

@-webkit-keyframes run {
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes run {
  to {
    -webkit-transform: none;
    transform: none;
  }
}

body {
  display: flex;
    flex-direction: column;
    min-height: 100vh;
  background: #f7f7f7;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1; } }


 /* .l-col-left.expand .fk-nav-sidenav {
 max-width: 280px 
}
*/
.side-wrapper {
  position: relative;
}

.fk-naviToggle {
  /* background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg class='fk-icon-wrapper'%3E%3Cpath d='M21 2.994h-2.966V21H21V2.994z'%3E%3C/path%3E%3Cpath d='M2.934 18.891L5.043 21l9-9-9-9-2.109 2.109L9.825 12z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); */
  max-width: 24px;
  max-height: 24px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.fk-toggle-button__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1110;
  /* background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg class='fk-icon-wrapper'%3E%3Cpath d='M21 2.994h-2.966V21H21V2.994z'%3E%3C/path%3E%3Cpath d='M2.934 18.891L5.043 21l9-9-9-9-2.109 2.109L9.825 12z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); */
  max-width: 24px;
  max-height: 24px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.fk-naviToggle svg {
  /* background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg class='fk-icon-wrapper'%3E%3Cpath d='M21 2.994h-2.966V21H21V2.994z'%3E%3C/path%3E%3Cpath d='M2.934 18.891L5.043 21l9-9-9-9-2.109 2.109L9.825 12z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); */
  max-width: 16px;
  max-height: 16px;
}
/* 
.l-col-left.expand .fk-naviToggle {
  transform: rotate3d(180deg);
}

.l-col-left.expand .fk-nav-sidenav .toc {
  display: inline-block;
}

.l-col-left .fk-nav-sidenav .toc {
  display: none;
}
    .l-col-left .fk-search-input {
      display: none;
    }
    .l-col-left.expand .fk-search-input {
      display: inline-block;;
    }
    .l-col-left .c-ucons,
    .l-col-left .c-ucons svg {
      width: 32px;
      height: 32px;
    }
    
    /* .l-col-left.expand {
      max-width: 280px;
    } *//* 
    .l-col-left .c-ucons .toc {
      display: none;
    }
    .l-col-left.expand .c-ucons,
    .l-col-left.expand .c-ucons svg {
      width: 24px;
      height: 24px;
    }*/
    /* .l-content-area {
      flex: 1 1 auto;
      background: rgb(255, 212, 212);
      width: 100%;
      height: calc(100vh - 60px);
      overflow: auto;
      padding-bottoom: 80px;
      order: 2;
      margin:20px;
    } */
   /* .l-content-area {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
      order: 2;
      /* background: rgb(255, 212, 212); */
     /*  margin:20px;
    } */
    /* .aside {
      position: absolute;
      flex: auto;
      width: 250px;
      height: calc(100vh - 60px);
      background: #000;
      padding-bottoom: 80px;
      margin-bottom: 60px;
      right: 0;
      order: 3;
    } */
    
    .footer {
      position: relative;
      width: 100%;
      height: 60px;
      background: rgba(0, 0, 0, 0.75);
      /* background: #085280; */
      color: #fff;
      /* order: 10; */
    }
    
    .side-wrapper {
      padding: 0;
    }
   .l-col-left.expand .side-wrapper {
      padding: 10px;
    }


.fk-sidenav-item:first-child {
  margin-top: 8px;
}

.fk-sidenav-item:last-child {
  margin-bottom: 8px;
}

.fk-nav-sidenav .collapse.expand {
  margin-bottom: 4px;
}

.fk-nav-sidenav .fk-toc-link.expand {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #f7f7f7;
  border-left: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.collapse.expand {
  position: relative;
  z-index: 50;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-botom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.fk-logo {
  width: 167.8px;
  height: 30px;
}

/* @media (min-width: 768px) {
.l-hg-l nav, .l-hg-l aside {
    flex: 0 0 16em;
}
} */
nav#fk-docs-nav {
  width: 100%;
}

#fk-docs-nav ul:nth-child(n+2){
  padding-top: 0;
  width: 100%;
}

/* .c-accordion__control {
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 56px; */
/* } */
/* .fk-tabs.hydrated {
  width: 100%;
  margin-top: auto;
} */
/* .sizerDiv {
  display: flex;
  flex: 1;
  width: 100%;
  max-height: 400px;
  min-height: 0px;
  overflow:auto;
} */
