// font
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('Source-Code-Pro.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url('Source-Code-Pro-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  // css variables
  --bp-color-core-blue-60: #0c77ba;
  --bp-color-core-blue-70: #0a649d;
  --bp-color-core-blue-90: #064063;
  --bp-color-core-neutral-13: #f2f2f2;
  --bp-color-core-neutral-17: #ededed;
  --bp-color-core-neutral-20: #dedede;
  --bp-color-core-neutral-60: #7a7a7a;
  --bp-color-core-neutral-90: #2e2e2e;
  --bp-color-core-muted-yellow-90: #fdbc2c;
  --bp-color-background-light-layer0-base: #f8f8f8;
  --bp-color-border-lightest: #dedede;

  --bp-color-brand-orange-base: #c55422;
  --bp-color-brand-yellow-darker: #e0ac00;
  --bp-color-brand-green-base: #2c6937;
  --bp-color-brand-green-darker: #074512;
  --bp-color-core-red-50: #bd2b2b;
  --bp-color-core-red-40: #cc3535;

  // --fk-color-background-code: #282c34;
  --fk-color-background-code: transparent;

  --fk-highlight-code-font-family: 'Source Code Pro', sans-serif, monospace;
  --fk-highlight-code-font-size: 1.01rem;
  --fk-highlight-code-line-height: 1.75rem;
  // --fk-c-button--showMore-padding: 2px 10px 4px 10px;
  --fk-c-button--showMore-padding: 0;
}
