
/* highlighter code */

::slotted([slot="code"]) {
  display: none;
}

.fk-highlight-code-container,
pre.fk-highlight-code-container {
  width: 100%;
  // max-height: 800px;
  padding: 10px 20px 0 20px;
  overflow-: visible;
  font-family: var(--fk-highlight-code-font-family, 'Source Code Pro', sans-serif, monospace);
  font-size: var(--fk-highlight-code-font-size, 1.01rem);
  color: var(--fk-highlight-code-color, #eaeae9);
  text-align: var(--fk-highlight-code-text-align, start);
  tab-size: 2;
  background: var(--fk-color-background-code, #282c34);
  // border: 15px solid var(--fk-color-background-code, #282c34);
  border-bottom: 10px solid var(--fk-color-background-code, #282c34);
  border-radius: var(--fk-highlight-code-border-radius, 0);
  transition: all .2s ease-in-out;
  transform: scale(var(--fk-highlight-code-zoom, 1));
  transform-origin: bottom left;
  direction: var(--fk-highlight-code-direction, ltr);

  code.theCodeTag {
    width: 100%;
    font-family: var(--fk-highlight-code-font-family);
    font-size: var(--fk-highlight-code-font-size);
    line-height: var(--fk-highlight-code-line-height, 1.75rem);
    color: var(--bp-color-core-neutral-17, #ededed);
    tab-size: 2;
    div:empty {
      min-height: 1rem;
    }

    span.fk-highlight-code-anchor-hidden {
      visibility: hidden;
    }

    span.fk-highlight-code-line {
      padding: var(--fk-highlight-code-line-padding, 10px);
      background: var(--fk-highlight-code-line-background);
      border-top: var(--fk-highlight-code-line-border-top);
      border-bottom: var(--fk-highlight-code-line-border-bottom);
    }

    /* Prism style override */

    /**
     * heathscript-dark theme for `prism.js`
     * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
     * @author Heath Shults
     */
    .language-css .token.string:not(.fk-highlight-code-line),
    .style .token.string:not(.fk-highlight-code-line),
    .token.entity:not(.fk-highlight-code-line),
    .token.operator:not(.fk-highlight-code-line),
    .token.url:not(.fk-highlight-code-line) {
      background: inherit;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: var(--fk-highlight-code-token-comment, #6f705e);
    }

    .token.punctuation {
      color: var(--fk-highlight-code-token-punctuation, #edede7);
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: var(--fk-highlight-code-token-property, #e25e88);
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
      color: var(--fk-highlight-code-token-selector, #f3ac9f);
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
      color: var(--fk-highlight-code-token-operator, #a2a2ff);
    }

    .token.keyword {
      color: vaf(--fk-highlight-code-token-keyword, #7a7afe);
    }

    .token.atrule,
    .token.attr-value {
      color: var(--fk-highlight-code-token-atrule,  #f0e9ab);
    }

    .token.function,
    .token.class-name {
      color: var(--fk-highlight-code-token-function, #eb3c42);
    }
    .token.regex,
    .token.important,
    .token.variable {
      color: var(--fk-highlight-code-token-regex, #e90);
    }
  }
}
/* perfect scrollbar */

.ps {
  overflow: hidden !important;
  touch-action: auto;
  overflow-anchor: none;
}
.ps__rail-x {
  position: absolute;
  bottom: 0px;
  display: none;
  height: 15px;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
}
.ps__rail-y {
  position: absolute;
  right: 0;
  display: none;
  width: 15px;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: .6;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: .9;
}
.ps__thumb-x {
  position: absolute;
  bottom: 2px;
  height: 6px;
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
}
.ps__thumb-y {
  position: absolute;
  right: 2px;
  width: 6px;
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
}
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  height: 11px;
  background-color: #999;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 11px;
  background-color: #999;
}
/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
